<div class="top-title">
	<div class="row">
		<div class="col-md-12 col-lg-5">			
			<form (ngSubmit)="changePassword()"  [formGroup]="changePasswordForm" class="portfolio-heading">
				<h2>{{ 'Change Password' | translate }}
					<a href="javascript:" onclick="history.go(-1); return false;" title="{{ 'Back' | translate }}" class="back_arrow">
						<span><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></span>
					</a>
				</h2>
				<div class="form-group">
					<label for="Portfolio">{{ 'Old Password' | translate }}</label>
					<input type="password" formControlName="oldPassword" class="form-control" placeholder="{{ 'Old Password' | translate }}" [ngClass]="{ 'is-invalid': submitted && c.oldPassword.errors }"  />
					<div *ngIf="submitted && c.oldPassword.errors" class="alert alert-dange">
                        <div *ngIf="c.oldPassword.errors.required">{{ 'Old Password is required' | translate }}</div>
                    </div>
				</div>
				<div class="form-group">
					<label for="Portfolio">{{ 'New Password' | translate }}</label>
					<input type="password" class="form-control" formControlName="newPassword" placeholder="{{ 'New Password' | translate }}"  [ngClass]="{ 'is-invalid': submitted && c.newPassword.errors }" />
					<div *ngIf="submitted && c.newPassword.errors" class="alert alert-dange">
                        <div *ngIf="c.newPassword.errors.required">{{ 'New Password is required' | translate }}</div>
						<div *ngIf="c.newPassword.errors.minlength">{{ 'New Password must be at least 6 characters' | translate }}</div>
                    </div>
				</div>
				<div class="form-group">
					<label for="Portfolio">{{ 'Confirm Password' | translate }}</label>
					<input type="password" class="form-control" placeholder="{{ 'Confirm Password' | translate }}" formControlName="confirmPassword"  [ngClass]="{ 'is-invalid': submitted && c.confirmPassword.errors }" />
					<div *ngIf="submitted && c.confirmPassword.errors" class="alert alert-dange">
                        <div *ngIf="c.confirmPassword.errors.required">{{ 'Confirm Password is required' | translate }}</div>
						<div *ngIf="c.confirmPassword.errors.minlength">{{ 'Confirm Password must be at least 6 characters' | translate }}</div>
                    </div>
					 <div *ngIf="mismatch" class="alert alert-dange">
						<div>{{ 'New Password does not match the confirm password' | translate }}</div>
					</div>
				</div>
				<div class="portfolio-group btn-group">
					<button type="submit" [disabled]="loading" class="btn custom-btn add-portfolio">{{showBtnText}}</button>
				</div>
			</form>
		</div>
		<div class="col-lg-7 col-md-12">
			<div class="advr_big">
				<img src="assets/images/advr_s.png" class="img-fluid">
			</div>
		</div>
	</div>
</div>