<div class="top-title enquiry ticker_detail">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ portfolioName }}</h2>
        <span></span>
        <div class="buttons_grp">
          <button type="button" [routerLink]="['/market-search']">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <button title="{{ 'ViewHistory' | translate }}" (click)="gotoPortfolioHistory()">
            <img src="../assets/images/timer.png" alt="timer" class="img-fluid" />
          </button>
          <button title="{{ 'AddInvestment' | translate }}" (click)="addInvestment()">
            <img src="../assets/images/plus.png" alt="plus" class="img-fluid" />
          </button>
          <a class="back_arrow" href="javascript:" title="{{ 'Back' | translate }}"
            onclick="history.go(-1); return false;">
            <span>
              <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="candle_stick">
          <ul>
            <li [ngClass]="activeTab && indMap == 0 ? 'active' : ''" (click)="getChartData(1, 'month', 0)">
              <input type="button" value="1M" />
            </li>
            <li [ngClass]="activeTab && indMap == 1 ? 'active' : ''" (click)="getChartData(3, 'month', 1)">
              <input type="button" value="3M" />
            </li>
            <li [ngClass]="activeTab && indMap == 2 ? 'active' : ''" (click)="getChartData(6, 'month', 2)">
              <input type="button" value="6M" />
            </li>
            <li [ngClass]="activeTab && indMap == 3 ? 'active' : ''" (click)="getChartData(1, 'year', 3)">
              <input type="button" value="1Y" />
            </li>
            <li [ngClass]="activeTab && indMap == 4 ? 'active' : ''" (click)="getChartData(2, 'year', 4)">
              <input type="button" value="2Y" />
            </li>
          </ul>
          <div id="chartdiv" style="display: none;">
            {{ portGraphDataText }}
          </div>
          <div id="bookchart" style="display: flex;">
            {{ portGraphDataText }}
          </div>
        </div>
        <!-- <div class="main-checkbox" *ngIf="this.profileInfo.isProAccount">
          <input class="main-checkbox checkbox-custom" type="checkbox" id="graphCheckbox" name="graphCheckbox" (click)="showHideChart()" />
          <label for="graphCheckbox" class="checkbox-custom-label">{{ 'BookCost' | translate }}</label>
        </div> -->
        <div class="pop_filters book_cost">
          <a href="javascript:" (click)="activeFilter = !activeFilter" title="more filters"><img
              src="assets/images/search-market-icon.png" /></a>
          <div class="more_filters" [ngClass]="{ showFilter: activeFilter, hideFilter: !activeFilter }">
            <div class="title_div">
              <h2 class="modal-title-analytics">
                  <img class="head-img" src="../../assets/images/graph-analytics.png">
                  {{ 'GraphAnaTitle' | translate }}
              </h2>
              <button (click)="activeFilter = !activeFilter" class="custom-btn">
                x
              </button>
            </div>
            <div class="form-group">
              <label>{{ "GraphDisplay" | translate }}</label>
              <select class="form-control" name="exchangeId" [(ngModel)]="graphFilter">
                <option value="0">Both</option>
                <option value="1">Portfolio Market Value</option>
                <option value="2">Portfolio Book Cost</option>
              </select>
            </div>

            <div class="actions_to_pop">
              <button class="btn custom-btn" (click)="activeFilter = !activeFilter"><i class="fa fa-times-circle tick-cross-icon text-danger" aria-hidden="true"></i></button>
              <button class="btn custom-btn" (click)="showHideChart(graphFilter)"><i class="fa fa-check-circle tick-cross-icon text-success" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="tabs_value_chg">
          <div class="tabs_pills">
            
            <div class="custom-tab-items">
              <button href="javascript:" class="btn btn-success btn-rounded" (click)="selectCustomTabs('-')"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
              <p *ngIf="activeCustomTab === 0">{{'Market' | translate}}</p>
              <p *ngIf="activeCustomTab === 1">{{'Risk' | translate}}</p>
              <p *ngIf="activeCustomTab === 2">{{'Performance' | translate}}</p>
              <button href="javascript:" class="btn btn-success btn-rounded" (click)="selectCustomTabs('+')"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
            <!-- Tab panes -->
            <div class="tab-content" *ngIf="this.profileInfo.isProAccount">
              <div id="value" *ngIf="activeCustomTab === 0">
                <br *ngIf="this.profileInfo.isProAccount" />
                <div class="stats_table">
                  <div class="head_div one">
                    <ul class="stats_head">
                      <li>{{ "Ticker" | translate }}</li>
                      <li>{{ "Units" | translate }}</li>
                      <li>{{ "MarketPrice" | translate }}</li>
                      <li>{{ "BookCost" | translate }}</li>
                      <li>{{ "MarketValue" | translate }}</li>
                      <li>{{ "Change" | translate }}</li>
                      <li>{{ "Actions" | translate }}</li>
                    </ul>
                  </div>
                  <div class="body_div">
                    <ul class="stats_body" *ngFor="let valueItem of valueList; let i = index">
                      <li>
                        {{ valueItem.symbol }}
                      </li>
                      <li *ngIf="portfolioType.toLowerCase() == 'stock'">
                        {{ valueItem.noOfUnits | number: "1.0-0" }}
                      </li>
                      <li *ngIf="portfolioType.toLowerCase() == 'cryptocurrency'">
                        {{ valueItem.noOfUnits | number: "1.4-4" }}
                      </li>
                      <li>
                        {{ valueItem.currentPrice | currency : returnCurrSymbol(portfolioCurrency) : "symbol" : "1.3-3" }}
                      </li>
                      <li>
                        {{ valueItem.bookCostVal | currency : returnCurrSymbol(portfolioCurrency) : "symbol" : "1.0-0" }}
                      </li>
                      <li>
                        {{ valueItem.investmentmarketcalcost | currency : returnCurrSymbol(portfolioCurrency) : "symbol" : "1.0-0" }}
                      </li>
                      <li class="color-box">
                        <span [ngClass]=" valueItem.performance == 0 ? 'zeroactive' : valueItem.performance > 0 ? 'active' : 'inactive' ">
                          <i class="fa fa-caret-up" aria-hidden="true" *ngIf="valueItem.performance > 0"></i>
                          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="valueItem.performance < 0"></i>
                          <i class="fa fa-caret-left" aria-hidden="true" *ngIf="valueItem.performance == 0"></i>
                          <i class="fa fa-caret-right" aria-hidden="true" *ngIf="valueItem.performance == 0"></i>
                          {{ formatNumber(math.round(valueItem.performance)) }}%
                        </span>
                      </li>
                      <li class="toggle_actions">
                        <ul class="submenus" id="collapseExample">
                          <li class="dropdown-item">
                            <a href="javascript:void(0);" (click)="goToTickerDetails( valueItem.tickerId, portfolioCurrency, valueItem.type, valueItem.name, valueItem.symbol, 0, i ) " title="{{ 'View' | translate }}"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
                          </li>
                          <li class="dropdown-item">
                            <a href="javascript:void(0);" (click)="priceAlertPopup(pricealert, i)"
                              title="{{ 'PriceAlert' | translate }}">
                              <i class="fa fa-bell" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="dropdown-item">
                            <a href="javascript:void(0);" (click)="setUpPopupItem(content, 'Buy', i)"
                              title="{{ 'Buy' | translate }}">
                              <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="dropdown-item">
                            <a href="javascript:void(0);" (click)="setUpPopupItem(content, 'Sell', i)"
                              title="{{ 'Sell' | translate }}">
                              <i class="fa fa-minus-square" aria-hidden="true"></i></a>
                          </li>
                          <li class="dropdown-item">
                            <a href="javascript:void(0);" (click)="deleteInvestmentItem( deleteInvestment, 'Delete', i ) " title="{{ 'Remove' | translate }}"> <i class="fa fa-times" aria-hidden="true"></i> </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <ul class="processing" *ngIf="valueItemProcessing">
                      <li>
                        <h4>{{ processingTxtOfList }}</h4>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="risk&rewards" *ngIf="activeCustomTab === 1">
                <br />
                <div class="stats_table">
                  <div class="head_div one">
                    <ul class="stats_head">
                      <li>{{ "Ticker" | translate }}</li>
                      <li>{{ "Concentration" | translate }}</li>
                      <li>{{ "Risk" | translate }}</li>
                      <li>{{ "Potential" | translate }}</li>
                      <!-- <li>{{ 'Opportunity' | translate }}</li> -->
                      <li>{{ "liquidity" | translate }}</li>
                    </ul>
                  </div>
                  <div class="body_div">
                    <!--<ul class="stats_body" *ngFor="let riskItem of riskList; let i = index" (click)="goToTickerDetails(riskItem.tickerId, portfolioCurrency, riskItem.type, riskItem.name, riskItem.symbol, 0,riskItem.shortTerm,riskItem.mediumTerm,riskItem.longTerm,riskItem.voladility,riskItem.fundamentals,riskItem.alphaMarketId,riskItem.investmentId,riskItem.potentialId)">-->
                    <ul class="stats_body liquidity-section" *ngFor="let riskItem of riskList; let i = index"
                      (click)="goToTickerDetails(riskItem.tickerId,portfolioCurrency,riskItem.type,riskItem.name,riskItem.symbol,0,i)">
                      <li>{{ riskItem.symbol }}</li>
                      <li *ngIf="riskItem.concentration == 'N/A'"> {{ riskItem.concentration }}</li>
                      <li *ngIf="riskItem.concentration != 'N/A'" class="concentration-box">
                        <div class="progress-circle progress-{{ math.round(riskItem.concentration) | number}} small">
                          <span>{{ math.round(riskItem.concentration) | number}}</span>
                        </div>
                      </li>
                      <li *ngIf="riskItem.riskText == 'N/A'">
                        {{ riskItem.riskText }}
                      </li>
                      <li *ngIf="riskItem.riskText != 'N/A'" class="risk-box">
                        <div class="risklow" *ngIf="riskItem.riskText == 'Low'">
                          <div class="progress-circle progress-25 small">
                            <span>L</span>
                          </div>
                        </div>
                        <div class="riskmidium" *ngIf="riskItem.riskText == 'Medium'">
                          <div class="progress-circle progress-50 small">
                            <span>M</span>
                          </div>
                        </div>
                        <div class="riskhigh" *ngIf="riskItem.riskText == 'High'">
                          <div class="progress-circle progress-75 small">
                            <span>H</span>
                          </div>
                        </div>
                        <div class="riskdefault"
                          *ngIf=" riskItem.riskText != 'High' && riskItem.riskText != 'Medium' && riskItem.riskText != 'Low' ">
                        </div>
                      </li>
                      <li *ngIf="riskItem.potentialText == 'N/A'">
                        {{ riskItem.potentialText }}
                      </li>
                      <li *ngIf="riskItem.potentialText != 'N/A'" class="potential-box">
                        <div class="potenlow" *ngIf="riskItem.potentialText == 'Low'">
                          <div class="progress-circle progress-25 small">
                            <span>L</span>
                          </div>
                        </div>
                        <div class="potenmidium" *ngIf="riskItem.potentialText == 'Medium'">
                          <div class="progress-circle progress-50 small">
                            <span>M</span>
                          </div>
                        </div>
                        <div class="potenhigh" *ngIf="riskItem.potentialText == 'High'">
                          <div class="progress-circle progress-75 small">
                            <span>H</span>
                          </div>
                        </div>

                        <div class="potendefault"
                          *ngIf=" riskItem.potentialText != 'High' && riskItem.potentialText != 'Medium' && riskItem.potentialText != 'Low' ">
                        </div>
                      </li>
                      <!-- <li *ngIf="riskItem.opportunity=='N/A'">{{ riskItem.opportunity }}</li>
                                              <li *ngIf="riskItem.opportunity!='N/A'">{{ math.round(riskItem.opportunity) }}%</li> -->
                      <li class="liquidity-box">
                        <img *ngIf="riskItem.liquidityFlag == '1'" class="liquidity-flag"
                          src="assets/images/ic_green_exclamation.png" />
                        <img *ngIf="riskItem.liquidityFlag == '2'" class="liquidity-flag"
                          src="assets/images/ic_green_right.png" />
                        <span *ngIf=" riskItem.liquidityFlag != '1' && riskItem.liquidityFlag != '2' ">N/A</span>
                        <span *ngIf=" riskItem.liquidityFlag == '1' || riskItem.liquidityFlag == '2' "
                          class="liquidity">{{ riskItem.liquidity | number: "1.0-3" }}%</span>
                      </li>
                    </ul>
                    <ul class="processing" *ngIf="riskItemProcessing">
                      <li>
                        <h4>{{ processingTxtOfList }}</h4>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="Performance" *ngIf="activeCustomTab === 2">
                <br />
                <div class="stats_table">
                  <div class="head_div">
                    <ul class="stats_head">
                      <div class="ticker">
                        <li>{{ "Ticker" | translate }}</li>
                        <li>{{ "BenchMark" | translate }}</li>
                      </div>
                      <div class="ticker-bottom">
                        <li>{{ "Alpha" | translate }}</li>
                        <div class="ticker2">
                          <li>{{ "1W" | translate }}</li>
                          <li>{{ "1M" | translate }}</li>
                          <li>{{ "6M" | translate }}</li>
                          <li>{{ "1Y" | translate }}</li>
                        </div>
                      </div>
                    </ul>
                  </div>
                  <div class="body_div">
                    <ul class="stats_body" *ngFor="let riskItem of riskList; let i = index"
                      (click)=" goToTickerDetails( riskItem.tickerId, portfolioCurrency, riskItem.type, riskItem.name, riskItem.symbol, 0, i ) ">
                      <li>
                        {{ riskItem.symbol }}
                      </li>
                      <li>
                        {{ riskItem.alphaMarketShortName != null ? riskItem.alphaMarketShortName : "N/A" }}
                      </li>
                      <li class="color-box">
                        <span [ngClass]=" riskItem.isTemp == '0' && riskItem.isTemp != undefined ? '' : riskItem.alphaWChange == 'N/A' || riskItem.alphaWChange == '' ? 'nactive' : riskItem.alphaWChange > 0 ? 'active' : riskItem.alphaWChange == 0 ? 'zeroactive' : 'inactive' ">{{ riskItem.alphaWChange != "N/A" && riskItem.alphaWChange != "" ? formatNumber(math.round(riskItem.alphaWChange)) + "%" : riskItem.alphaWChange }}</span>
                      </li>
                      <li class="color-box">
                        <span [ngClass]=" riskItem.isTemp == '0' && riskItem.isTemp != undefined ? '' : riskItem.alphaChange == 'N/A' || riskItem.alphaChange == '' ? 'nactive' : riskItem.alphaChange > 0 ? 'active' : riskItem.alphaChange == 0 ? 'zeroactive' : 'inactive' ">
                        {{ riskItem.alphaChange != "N/A" && riskItem.alphaChange != "" ? formatNumber(math.round(riskItem.alphaChange)) + "%" : riskItem.alphaChange }}</span>
                      </li>
                      <li class="color-box">
                        <span [ngClass]=" riskItem.isTemp == '0' && riskItem.isTemp != undefined ? '' : riskItem.alpha6MChange == 'N/A' || riskItem.alpha6MChange == '' ? 'nactive' : riskItem.alpha6MChange > 0 ? 'active' : riskItem.alpha6MChange == 0 ? 'zeroactive' : 'inactive' ">
                        {{ riskItem.alpha6MChange != "N/A" && riskItem.alpha6MChange != "" ? formatNumber(math.round(riskItem.alpha6MChange)) + "%" : riskItem.alpha6MChange }}</span>
                      </li>
                      <li class="color-box">
                        <span [ngClass]=" riskItem.isTemp == '0' && riskItem.isTemp != undefined ? '' : riskItem.alpha1YChange == 'N/A' || riskItem.alpha1YChange == 'nactive' ? 'nactive' : riskItem.alpha1YChange > 0 ? 'active' : riskItem.alpha1YChange == 0 ? 'zeroactive' : 'inactive' ">
                        {{ riskItem.alpha1YChange != "N/A" && riskItem.alpha1YChange != "" ? formatNumber(math.round(riskItem.alpha1YChange)) + "%" : riskItem.alpha1YChange }}</span>
                      </li>
                    </ul>
                    <ul class="processing" *ngIf="riskItemProcessing">
                      <li>
                        <h4>{{ processingTxtOfList }}</h4>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="value_change">
            <ul>
              <li>
                <h3>
                  {{ "PortfolioMarketValue" | translate }}<br />{{ totalMarketVal | currency : returnCurrSymbol(portfolioCurrency) : "symbol" : "1.0" }}
                </h3>
              </li>
              <li [ngClass]=" portfolioChanges == 0 ? 'zeroactive' : portfolioChanges > 0 ? 'active' : 'inactive' ">
                <h3>{{ "PortfolioChange" | translate }}</h3>
                <span>
                  <i class="fa fa-caret-up" aria-hidden="true" *ngIf="portfolioChanges > 0"></i>
                  <i class="fa fa-caret-down" aria-hidden="true" *ngIf="portfolioChanges < 0"></i>
                  <i class="fa fa-caret-left" aria-hidden="true" *ngIf="portfolioChanges == 0"></i>
                  <i class="fa fa-caret-right" aria-hidden="true" *ngIf="portfolioChanges == 0"></i>
                  {{ math.round(portfolioChanges) }}%
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-12">
        <div class="advr_hori">
          <img src="assets/images/advr1.png" alt="advr" class="img-fluid" />
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- add_assets modal-->
<div class="card-body">
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header alert_header title_div">
      <h2 class="pop-head" *ngIf="modelHeading.toLowerCase() == 'buy'"><i class="fa fa-plus-circle head-icon" aria-hidden="true"></i> {{ 'Buy' | translate }}</h2>
      <h2 class="pop-head" *ngIf="modelHeading.toLowerCase() == 'sell'"><i class="fa fa-minus-circle head-icon" aria-hidden="true"></i> {{ 'Sell' | translate }}</h2>
      <button type="button" class="btn btn-secondary close" (click)="c('Close click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- Buy Form-->
      <form (ngSubmit)="addInvestmentAction()" [formGroup]="investmentForm" class="form-inline form_price"
        *ngIf="modelHeading == 'Buy'">
        <div class="form-group">
          <label for="Portfolio">{{ "Ticker" | translate }}</label>
          <input type="text" formControlName="ticker" class="form-control" placeholder="{{ 'Ticker' | translate }}"
            readonly />
          <div [ngClass]="tickerError == '' ? '' : 'alert alert-dange'" class="error danger">
            <div>{{ tickerError }}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="Portfolio">{{ "UnitsBought" | translate }}</label>
          <input type="text" formControlName="holding" class="form-control"
            placeholder="{{ 'UnitsBought' | translate }}" maxlength="28" (keyup)="calculateMarketPrice('Stock')"
            [ngClass]="{ 'is-invalid': submitted && f.holding.errors }" (blur)="setHoldingValue('Stock')"
            (keypress)="numberOnlyForHold($event)" *ngIf="portfolioType.toLowerCase() == 'stock'"
            value="{{ holdingUnit | number: '1.0-0' }}" />
          <input type="text" formControlName="holding" class="form-control"
            placeholder="{{ 'UnitsBought' | translate }}" maxlength="28"
            (keyup)="calculateMarketPrice('Cryptocurrency')" (keypress)="numberOnly($event)"
            [ngClass]="{ 'is-invalid': submitted && f.holding.errors }" (blur)="setHoldingValue('Cryptocurrency')"
            *ngIf="portfolioType.toLowerCase() == 'cryptocurrency'" />
          <div *ngIf="submitted && f.holding.errors" class="alert alert-dange">
            <div *ngIf="f.holding.errors.required">
              {{ "UnitsBoughtisrequired" | translate }}
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="showBookingSymbol ? 'bookingCost' : ''">
          <label for="Portfolio">
            {{ "BookingCost" | translate }}
            <a href="javascript:" class="btn_info"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            <p>Book cost is how much the trade has ‘cost’ to execute. This is the cost of the units bought plus any trading fees. </p>
          </label>
          <div class="span_input">
            <span class="symbol" *ngIf="showBookingSymbol">{{ symbol }}</span>
            <input type="text" matInput formControlName="bookingCost" class="form-control" autocomplete="off"
              maxlength="35" placeholder="{{ 'BookingCost' | translate }}" (keyup)="calculateMarketPrice(portfolioType)"
              [ngClass]="{ 'is-invalid': submitted && f.bookingCost.errors }" (blur)="calculateBookingCost('buy')"
              (keypress)="numberOnly($event)" />
          </div>
          <div *ngIf="submitted && f.bookingCost.errors" class="alert alert-dange">
            <div *ngIf="f.bookingCost.required">
              {{ "BookingCostisrequired" | translate }}
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="showMarketSymbol ? 'marketValue' : ''">
          <label for="Portfolio">{{ "MarketValue" | translate }}</label>
          <div class="span_input">
            <span class="symbol" *ngIf="showMarketSymbol">{{ symbol }}</span>
            <input type="text" formControlName="marketValue" class="form-control"
              placeholder="{{ 'MarketValue' | translate }}" autocomplete="off"
              [ngClass]="{ 'is-invalid': submitted && f.marketValue.errors }" (keypress)="numberOnly($event)"
              readonly />
          </div>
          <div *ngIf="submitted && f.marketValue.errors" class="alert alert-dange">
            <div *ngIf="f.marketValue.required">
              {{ "MarketValueisrequired" | translate }}
            </div>
          </div>
        </div>
        <div class="actions_to_pop">
          <button class="btn custom-btn" (click)="c('Close click')"><i class="fa fa-times-circle tick-cross-icon text-danger" aria-hidden="true"></i></button>
          <button class="btn custom-btn" type="submit" [disabled]="loading"><i class="fa fa-check-circle tick-cross-icon text-success" aria-hidden="true"></i></button>
        </div>
      </form>
      <!-- Sell Form-->
      <form (ngSubmit)="addInvestmentAction()" [formGroup]="investmentForm" class="form-inline form_price"
        *ngIf="modelHeading == 'Sell'">
        <div class="form-group">
          <label for="Portfolio">{{ "Ticker" | translate }}</label>
          <input type="text" formControlName="ticker" class="form-control" placeholder="{{ 'Ticker' | translate }}"
            readonly />
          <div [ngClass]="tickerError == '' ? '' : 'alert alert-dange'" class="error danger">
            <div>{{ tickerError }}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="Portfolio">{{ "UnitsSold" | translate }}</label>
          <input type="text" formControlName="holding" class="form-control" placeholder="{{ 'UnitsSold' | translate }}"
            maxlength="28" (keyup)="calculateMarketPrice('Stock')"
            [ngClass]="{ 'is-invalid': submitted && f.holding.errors }" (blur)="setHoldingValue('Stock')"
            (keypress)="numberOnlyForHold($event)" *ngIf="portfolioType.toLowerCase() == 'stock'"
            value="{{ holdingUnit | number: '1.0-0' }}" />
          <input type="text" formControlName="holding" class="form-control" placeholder="{{ 'UnitsSold' | translate }}"
            maxlength="28" (keyup)="calculateMarketPrice('Cryptocurrency')" (keypress)="numberOnly($event)"
            [ngClass]="{ 'is-invalid': submitted && f.holding.errors }" (blur)="setHoldingValue('Cryptocurrency')"
            *ngIf="portfolioType.toLowerCase() == 'cryptocurrency'" />
          <div *ngIf="submitted && f.holding.errors" class="alert alert-dange">
            <div *ngIf="f.holding.errors.required">
              {{ "UnitsSoldisrequired" | translate }}
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="showBookingSymbol ? 'bookingCost' : ''">
          <label for="Portfolio">
            {{ "SellPrice" | translate }}
            <a href="javascript:" class="btn_info"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
            <p>Sell price is the price per unit that was sold.</p>
          </label>
          <div class="span_input">
            <span class="symbol" *ngIf="showBookingSymbol">{{ symbol }}</span>
            <input type="text" matInput formControlName="bookingCost" class="form-control" maxlength="35" autocomplete="off" placeholder="{{ 'SellPrice' | translate }}" (keyup)="calculateMarketPrice(portfolioType)" [ngClass]="{ 'is-invalid': submitted && f.bookingCost.errors }" (blur)="calculateBookingCost('sell')" (keypress)="numberOnly($event)" />

          </div>
          <div *ngIf="submitted && f.bookingCost.errors" class="alert alert-dange">
            <div *ngIf="f.bookingCost.required">
              {{ "SellPriceisrequired" | translate }}
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="showMarketSymbol ? 'marketValue' : ''">
          <label for="Portfolio">{{ "SellValue" | translate }}</label>
          <div class="span_input">
            <span class="symbol" *ngIf="showMarketSymbol">{{ symbol }}</span>
            <input type="text" formControlName="marketValue" class="form-control"
              placeholder="{{ 'SellValue' | translate }}" autocomplete="off"
              [ngClass]="{ 'is-invalid': submitted && f.marketValue.errors }" (keypress)="numberOnly($event)"
              readonly />
          </div>
          <div *ngIf="submitted && f.marketValue.errors" class="alert alert-dange">
            <div *ngIf="f.marketValue.required">
              {{ "SellValueisrequired" | translate }}
            </div>
          </div>
        </div>
        <div class="actions_to_pop">
          <button class="btn custom-btn" (click)="c('Close click')"><i class="fa fa-times-circle tick-cross-icon text-danger" aria-hidden="true"></i></button>
          <button class="btn custom-btn" type="submit" [disabled]="loading"><i class="fa fa-check-circle tick-cross-icon text-success" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
<!-- add_assets modal-->
<div class="card-body">
  <ng-template #deleteInvestment let-c="close" let-d="dismiss">
    <div class="modal-header alert_header title_div">
      <h2 class="pop-head"><i class="fa fa-trash head-icon-1" style="padding: 9px 11px;" aria-hidden="true"></i> {{ 'DeleteInvestment' | translate }}</h2>
      <button type="button" class="btn btn-secondary close" (click)="c('Close click')"> <span
          aria-hidden="true">&times;</span> </button>
    </div>
    <div class="modal-body">
      <p>{{ modelText }}</p>
      <div class="actions_to_pop">
        <button class="btn custom-btn" (click)="c('Close click')"><i class="fa fa-times-circle tick-cross-icon text-danger" aria-hidden="true"></i></button>
        <button class="btn custom-btn" (click)="DeleteInvestment()"><i class="fa fa-check-circle tick-cross-icon text-success" aria-hidden="true"></i></button>
      </div>
    </div>
  </ng-template>
</div>
<!-- add_assets modal-->
<div class="card-body">
  <ng-template #pricealert let-c="close" let-d="dismiss">
    <div class="modal-header alert_header title_div">
      <h2 class="pop-head"><i class="fa fa-bell head-icon-1" aria-hidden="true"></i> {{ 'PriceAlert' | translate }}</h2>
      <button type="button" class="btn btn-secondary close" (click)="c('Close click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>
        <span class="ticker_img"><img src="{{ priceAlert.tickerIcon }}" class="img-fluid" /></span>
        {{ priceAlert.tickerName }}
      </h3>
      <form class="form-inline form_price" (submit)="setPriceAlert()">
        <div class="form-group">
          <label>{{ "Condition" | translate }}</label>
          <select class="form-control" name="compare" [(ngModel)]="priceAlert.compare" #compare="ngModel">
            <option value=">">{{ "GreaterThan" | translate }}</option>
            <option value="<">{{ "LessThan" | translate }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>{{ "Currency" | translate }}</label>
          <select class="form-control" (change)="ChangeCurrency()" name="currentCurrency"
            [(ngModel)]="priceAlert.currentCurrency" #currentCurrency="ngModel">
            <option value="{{ currency.name }}" *ngFor="let currency of currencyList; let i = index">{{ currency.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>{{ "TargetPrice" | translate }}</label>
					<div class="input-group">
						<span class="input-group-addon">{{returnCurrSymbol(priceAlertCurrency)}}</span> 
            <input class="form-control amount" type="text" placeholder="0.000" name="amount" [(ngModel)]="priceAlert.amount" #amount="ngModel"
            autocomplete="off" (keypress)="numberOnly($event)" maxlength="10" (blur)="setTagetValueWith3Digit()"
            (keyup)="checkTargetValidation()" />
					</div>
          <div class="error danger" *ngIf="priceAlertError.amount">
            {{ targetPriceisRequiredMsg }}
          </div>
        </div>
        <div class="form-group">
          <label>{{ "ExpiryDate" | translate }}</label>
          <div class="input-group datepicker-input">
            <input class="form-control" placeholder="YYYY-MM-DD" name="dp" [minDate]="priceAlertStartDateFrom" [(ngModel)]="priceAlert.expiryDate"
              ngbDatepicker #d="ngbDatepicker" readonly />
            <button class="input-group-addon" (click)="d.toggle()" type="button">
              <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
              <span class="fa fa-calendar"></span>
            </button>
            <div class="error danger" *ngIf="priceAlertError.expiryDate">
              {{ "ExpiryDateRequired!" | translate }}
            </div>
          </div>
        </div>

        <div class="actions_to_pop">
          <button class="btn custom-btn" (click)="c('Close click')"><i class="fa fa-times-circle tick-cross-icon text-danger" aria-hidden="true"></i></button>
          <button class="btn custom-btn" type="submit"><i class="fa fa-check-circle tick-cross-icon text-success" aria-hidden="true"></i></button>
        </div>
        <!-- <div class="form-group">
          <button class="btn btn-success" type="submit">
            {{ "Submit" | translate }}
          </button>
        </div> -->
      </form>
    </div>
  </ng-template>
</div>