<div class="register-page login-page" [@routerTransition]>
    <div class="container">
        <div class="login_form">
            <div class="logo-centered">
                <img src="../../assets/images/logo.png" alt="logo" />
                <span class="signing-title">{{ 'Login' | translate }}</span>
            </div>
            <div class="signing-form">
                <form (ngSubmit)="CheckLogin()" [formGroup]="loginForm">
                    <div class="form-group">
                        <input type="text" formControlName="userName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" placeholder="User Name" />
                        <div *ngIf="submitted && f.userName.errors" class="alert alert-dange">
                            <div *ngIf="f.userName.errors.required">User name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input [type]="show ? 'text' : 'password'" class="form-control" formControlName="password"
                            placeholder="{{ 'Password' | translate }}"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="alert alert-dange">
                            <div *ngIf="f.password.errors.required">{{'Password is required' | translate }}</div>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" formControlName="isRemember" class="custom-control-input"
                            id="customControlAutosizing" [checked]="isRemember">
                        <label class="custom-control-label"
                            for="customControlAutosizing">{{ 'Remember Me' | translate }}</label>
                        <a [routerLink]="['/forgot-password']">{{ 'Forgotten Password' | translate }}</a>
                    </div>
                    <div class="button_account">
                        <button type="submit" [disabled]="loading"
                            class="btn btn-primary">{{ showBtnText | translate }}</button>
                        <p>{{ "Don't have an account?" | translate }}
                            <a [routerLink]="['/register-account']">{{ 'Sign Up' | translate }}</a>
                        </p>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>