<div mat-dialog-title><button class="close pull-right" (click)="close()"><span aria-hidden="true">&times;</span></button></div>

<mat-dialog-content>
  <div class="count_down" *ngIf="isProRemainDays">
    <div class="round_prog">
      <span class="prg_txt">


        <!--<circle-progress [titleColor]='"#444444"' [titleFontSize]="22" [subtitleFontSize]="18" [showTitle]="true" [percent]="totalDisplayPer" [radius]="100" [animation]="true" [animationDuration]="1500" [maxPercent]="totalSubsPlanDays" [showSubtitle]="true" [subtitle]='["",((totalRemainingDays>1)?"DAYS LEFT":"DAY LEFT")]'> </circle-progress>-->


        <circle-progress [titleColor]='"#444444"' [titleFontSize]="22" [subtitleFontSize]="18" [showTitle]="true"
          [showSubtitle]="false" [percent]="totalDisplayPer" [radius]="100" [animation]="true"
          [animationDuration]="1500" [maxPercent]="100" [title]="['',totalRemainingDays,((totalRemainingDays>1)?(DAYSLEFT | translate):(DAYLEFT | translate))]"
          > </circle-progress>




          <!-- [title]='["",totalRemainingDays,((totalRemainingDays>1)?DAYSLEFT:DAYLEFT)]' -->
      </span>
    </div>
    <div class="with-switch">
      <p *ngIf="subCancelBtn">
        {{ 'Auto-Renewal' | translate }}
        <label class="switch" *ngIf="isSubsChecked">
          <input type="checkbox" [checked]="true" attr="true" (change)="checkAutoRenewal(confirmicontent,1)">
          <span class="slider round"></span>
        </label>
        <label class="switch" *ngIf="!isSubsChecked">
          <input type="checkbox" [checked]="false" attr="false" (change)="checkAutoRenewal(confirmicontent,0)">
          <span class="slider round"></span>
        </label>
      </p>
      <a href="javascript:" class="custom-btn"
        (click)="openSubUpgrade(confirmisubupgrade)">{{ 'ManageSubscription' | translate }}</a>
      <a href="javascript:" *ngIf="subCancelBtn" (click)="showPopupForCancel(confirmicontent)"
        class="custom-btn">{{ 'Cancel Subscription' | translate }}</a>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  
</mat-dialog-actions>
