<div class="register-page" [@routerTransition]>
  <div class="container">
    <div class="logo-centered">
      <img src="../../assets/images/logo.png" alt="logo" />
      <span class="signing-title">Change Password</span>
    </div>
    <form class="signing-form">      
        <div class="form-group">        
            <input type="password" name="current_password" class="form-control" placeholder="Current Password">
          </div>
        <div class="form-group pass-sh">
          <span (click)="onShowHidePassword()">{{showBtnText}}</span>
          <input  [type]="show ? 'text' : 'password'"  class="form-control" placeholder="New Password" formControlName="password">
        </div>
        <div class="form-group">      
          <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password">
        </div>
      <div class="form-group">        
        <button href="#" class="btn btn-primary" id="password_modal_save">Save changes</button>
      </div>
    </form>
  </div>
</div>