<div class="top-title search_market">
  <div class="row">
    <div class="col-md-6 title-back">
      <h2>
        {{ 'PortfoliosHistory' | translate }}
        
		 <div class="news-nav" *ngIf="portfolioList.length > 0">
		 <div class="pagination-top">
        <ngb-pagination
          [collectionSize]="totalRecords"
          [rotate]="true"
          [(page)]="currentPage"
          size="sm"
          (pageChange)="onPageChange(currentPage)"
          aria-label="Default pagination"
          [maxSize]="8"
          [rotate]="true"
          [boundaryLinks]="true"
          [pageSize]="pageSize"
        ></ngb-pagination>
		</div>
      </div>
      </h2>
    </div>
	<div class="col-md-6">
		<a class="back_arrow" href="javascript:" onclick="history.go(-1); return false;" title="{{ 'Back' | translate }}"
          ><span>
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
          </span>
        </a>
	</div>
  </div>
</div>
<!--================= Table Section ================-->
<div class="table-section">
  <div class="row">
    <div class="col-md-6">
      <div class="stats_table">
        <div class="head_div">
          <ul class="stats_head">
            <li>{{ 'Ticker' | translate }}</li>
            <li>{{ 'Date' | translate }}</li>
            <li>{{ 'Type' | translate }}</li>
            <li>{{ 'Units' | translate }}</li>
            <li>{{ 'Cost/Value' | translate }}</li>
            <li>{{ 'Actions' | translate }}</li>
          </ul>
        </div>
        <div class="body_div fixed-1">
          <ul class="stats_body" *ngFor="let portfolioItem of portfolioList; let i = index">
            <li>{{ portfolioItem.symbol }}</li>
            <li>{{ portfolioItem.historyDate }}</li>
            <li *ngIf="portfolioItem.historyType.toLowerCase() == 'investment'">Buy</li>
            <li *ngIf="portfolioItem.historyType.toLowerCase() != 'investment'">{{portfolioItem.historyType}}</li>
            <li>{{ portfolioItem.noOfUnits}}</li>
            <li>
              {{ portfolioItem.bookCost | currency: returnCurrSymbol(portfolioCurrency):'symbol':'1.2' }}
            </li>
            <li>
              <div class="action">
                <button title="{{ 'Edit' | translate }}" type="button" class="btn edit-button"
                  (click)="setUpPopupItem(content,i)"><i class="fa fa-pencil"></i></button>
                <!-- <button title="{{ 'Remove' | translate }}" type="button" class="btn delete-button"
                  (click)="open(content, i, 'portfolio')"><i class="fa fa-trash"></i></button>-->
               
              </div>
            </li>
          </ul>
          <ul class="processing" *ngIf="processing">
            <li>
              <h4>{{ searchSearchText }}</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- <div class="advr_big history_ad"><img class="img-fluid" src="../assets/images/advr_s.jpg" /></div> -->
    </div>
  </div>
</div>
<!-- add_assets modal-->
<div class="card-body">
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header alert_header">
      <h4 class="modal-title" *ngIf="modelHeading.toLowerCase()=='buy'">{{ 'Buy' | translate }}</h4>
    <h4 class="modal-title" *ngIf="modelHeading.toLowerCase()=='sell'">{{ 'Sell' | translate }}</h4>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  <!-- Buy Form-->
      <form (ngSubmit)="addInvestmentAction()" [formGroup]="investmentForm" class="form-inline form_price" *ngIf="modelHeading=='Buy'">
        <div class="form-group">
          <label for="Portfolio">{{ 'Ticker' | translate }}</label>
          <input type="text" formControlName="ticker" class="form-control" placeholder="{{ 'Ticker' | translate }}" readonly />
          <div [ngClass]="tickerError == '' ? '' : 'alert alert-dange'" class="error danger">
            <div>{{ tickerError }}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="Portfolio">{{ 'UnitsBought' | translate }}</label>
          <input
            type="text"
            formControlName="holding"
            class="form-control"
            placeholder="{{ 'UnitsBought' | translate }}"
            maxlength="28"
            (keyup)="calculateMarketPrice('Stock')"
            [ngClass]="{ 'is-invalid': submitted && f.holding.errors }"
      (blur)="setHoldingValue('Stock')"
            (keypress)="numberOnlyForHold($event)"
      *ngIf="portfolioType.toLowerCase()=='stock'"
      value="{{holdingUnit | number:'1.0-0'}}"
          />
      <input
            type="text"
            formControlName="holding"
            class="form-control"
            placeholder="{{ 'UnitsBought' | translate }}"
            maxlength="28"
      (keyup)="calculateMarketPrice('Cryptocurrency')"
      (keypress)="numberOnly($event)"
            [ngClass]="{ 'is-invalid': submitted && f.holding.errors }"
            (blur)="setHoldingValue('Cryptocurrency')" 
      *ngIf="portfolioType.toLowerCase()=='cryptocurrency'"
          />
          <div *ngIf="submitted && f.holding.errors" class="alert alert-dange">
            <div *ngIf="f.holding.errors.required">{{ 'UnitsBoughtisrequired' | translate }}</div>
          </div>
        </div>
        <div class="form-group"  [ngClass]="showBookingSymbol ? 'bookingCost':''">
          <label for="Portfolio">{{ 'BookingCost' | translate }}</label>
          <div class="span_input">
      <span class="symbol" *ngIf="showBookingSymbol">{{symbol}}</span>
          <input
            type="text"
            matInput
            formControlName="bookingCost"
            class="form-control"
            autocomplete="off"
      maxlength="35"
            placeholder="{{ 'BookingCost' | translate }}"
            (keyup)="calculateMarketPrice(portfolioType)"
            [ngClass]="{ 'is-invalid': submitted && f.bookingCost.errors }"
      (blur)="calculateBookingCost('buy')"
            (keypress)="numberOnly($event)"
          />
          </div>
          <div *ngIf="submitted && f.bookingCost.errors" class="alert alert-dange">
            <div *ngIf="f.bookingCost.required">{{ 'BookingCostisrequired' | translate }}</div>
          </div>
        </div>
        <div class="form-group" [ngClass]="showMarketSymbol ? 'marketValue':''">
          <label for="Portfolio">{{ 'MarketValue' | translate }}</label>
          <div class="span_input">
      <span class="symbol" *ngIf="showMarketSymbol">{{symbol}}</span>
          <input
            type="text"
            formControlName="marketValue"
            class="form-control"
            placeholder="{{ 'MarketValue' | translate }}"
            autocomplete="off"
            [ngClass]="{ 'is-invalid': submitted && f.marketValue.errors }"
            (keypress)="numberOnly($event)"
            readonly
          />
          </div>
          <div *ngIf="submitted && f.marketValue.errors" class="alert alert-dange">
            <div *ngIf="f.marketValue.required">{{ 'MarketValueisrequired' | translate }}</div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="loading" class="btn custom-btn add-portfolio">
            {{ 'Update Buy' | translate }}
          </button>
        </div>
      </form>
    <!-- Sell Form-->
    <form (ngSubmit)="addInvestmentAction()" [formGroup]="investmentForm" class="form-inline form_price" *ngIf="modelHeading=='Sell'">
        <div class="form-group">
          <label for="Portfolio">{{ 'Ticker' | translate }}</label>
          <input type="text" formControlName="ticker" class="form-control" placeholder="{{ 'Ticker' | translate }}" readonly />
          <div [ngClass]="tickerError == '' ? '' : 'alert alert-dange'" class="error danger">
            <div>{{ tickerError }}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="Portfolio">{{ 'UnitsSold' | translate }}</label>
          <input
            type="text"
            formControlName="holding"
            class="form-control"
            placeholder="{{ 'UnitsSold' | translate }}"
            maxlength="28"
            (keyup)="calculateMarketPrice('Stock')"
            [ngClass]="{ 'is-invalid': submitted && f.holding.errors }"
      (blur)="setHoldingValue('Stock')"
            (keypress)="numberOnlyForHold($event)"
      *ngIf="portfolioType.toLowerCase()=='stock'"
      value="{{holdingUnit | number:'1.0-0'}}"
          />
      <input
            type="text"
            formControlName="holding"
            class="form-control"
            placeholder="{{ 'UnitsSold' | translate }}"
            maxlength="28"
      (keyup)="calculateMarketPrice('Cryptocurrency')"
      (keypress)="numberOnly($event)"
            [ngClass]="{ 'is-invalid': submitted && f.holding.errors }"
            (blur)="setHoldingValue('Cryptocurrency')" 
      *ngIf="portfolioType.toLowerCase()=='cryptocurrency'"
          />
          <div *ngIf="submitted && f.holding.errors" class="alert alert-dange">
            <div *ngIf="f.holding.errors.required">{{ 'UnitsSoldisrequired' | translate }}</div>
          </div>
        </div>
         <div class="form-group" [ngClass]="showBookingSymbol ? 'bookingCost':''">
          <label for="Portfolio">{{ 'SellPrice' | translate }}</label>
          <div class="span_input"> 
          <span class="symbol" *ngIf="showBookingSymbol">{{symbol}}</span>
          <input
            type="text"
            matInput
            formControlName="bookingCost"
            class="form-control"
      maxlength="35"
            autocomplete="off"
            placeholder="{{ 'SellPrice' | translate }}"
            (keyup)="calculateMarketPrice(portfolioType)"
            [ngClass]="{ 'is-invalid': submitted && f.bookingCost.errors }"
      (blur)="calculateBookingCost('sell')"
            (keypress)="numberOnly($event)"
          />
          </div>
          <div *ngIf="submitted && f.bookingCost.errors" class="alert alert-dange">
            <div *ngIf="f.bookingCost.required">{{ 'SellPriceisrequired' | translate }}</div>
          </div>
        </div>
         <div class="form-group" [ngClass]="showMarketSymbol ? 'marketValue':''">
          <label for="Portfolio">{{ 'SellValue' | translate }}</label>
          <div class="span_input">
      <span class="symbol" *ngIf="showMarketSymbol">{{symbol}}</span> 
          <input
            type="text"
            formControlName="marketValue"
            class="form-control"
            placeholder="{{ 'SellValue' | translate }}"
            autocomplete="off"
            [ngClass]="{ 'is-invalid': submitted && f.marketValue.errors }"
            (keypress)="numberOnly($event)"
            readonly
          />
          </div>
          <div *ngIf="submitted && f.marketValue.errors" class="alert alert-dange">
            <div *ngIf="f.marketValue.required">{{ 'SellValueisrequired' | translate }}</div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="loading" class="btn custom-btn add-portfolio">
            {{ 'Update Sell' | translate }}
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
