<!-- ========== Footer Section =========-->
<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 footer-bottom">
				<div class="left-footer">
					<p>enquiries@bullseyeinvestors.com</p>
					<ul>
						<li><a href="javascript:" [routerLink]="['/privacy-policy']">{{ 'PrivacyPolicy' | translate }}</a></li>
						<li><a href="javascript:" [routerLink]="['/terms-of-service']">{{ 'TermsofService' | translate }}</a></li>
					</ul>
				</div>
				<div class="right-footer text-right">
					<p>© {{ getFullYear }} {{ 'BullseyeInvestors' | translate }}</p>
					<!-- <p>{{ 'MercuryRiskConsultingLimited' | translate }}</p> -->
				</div>
			</div>
		</div>
	</div>
</footer>