<div class="account_settings">
  <div class="row">
    <div class="col-md-12">
      <div class="chat-title">
        <h2>{{ 'AccountSettings' | translate }}</h2>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="account_feedback">
        <div class="account_setup">
          <h2>{{ 'AccountSetup' | translate }}</h2>
          <ul>
            <li>
              <h3>
                <a href="javascript:" (click)="changePhone(chgNumber)"><img
                    [src]="phoneIcon" />{{ 'ChangePhoneNumber' | translate }}</a>
              </h3>
            </li>
            <li>
              <h3>
                <a href="javascript:" [routerLink]="['/change-password']"><img
                    [src]="passIcon" />{{ 'ChangePassword' | translate }}</a>
              </h3>
            </li>
              <li>
                <h3>
                  <a href="javascript:" (click)="openUploadImg(updateProfileImage)"><img
                      [src]="profileChange" />{{ 'ProfileImage' | translate }}</a>
                </h3>
              </li>
            <li>
              <h3><img [src]="langIcon" />{{ 'Language' | translate }}</h3>
              <div class="md-select" (click)="languageToggle()" [ngClass]="activeTab1 ? '' : 'active'">
                <label for="ul-lang">
                  <button type="button" class="langseltext">{{ selectLang | translate }}</button>
                </label>
                <ul role="listbox" id="ul-lang" name="ul-id">
                  <li *ngFor="let itemText of lang_array" (click)="languageMethod(itemText.shortname, itemText.name)">
                    {{ itemText.name  | translate }}
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <h3><img [src]="currIcon" />{{ 'Currency' | translate }}</h3>
              <div class="md-select" (click)="currencyToggle()" [ngClass]="activeTab2 ? '' : 'active'">
                <label for="ul-curr">
                  <button type="button">{{ selectCurr }}</button>
                </label>
                <ul role="listbox" id="ul-curr" name="ul-curr">
                  <li *ngFor="let currency of curr_array" (click)="currencyMethod(currency.name)">{{ currency.name }}
                  </li>
                </ul>
              </div>
            </li>
            <!-- <li>
              <h3>
                <a href="javascript:" [routerLink]="['/price-prediction']"><img
                    src="assets/images/target.png" />{{ 'marketPredictedPrice' | translate }}</a>
              </h3>
            </li> -->
            <li>
              <h3>
                <!-- [routerLink]="['/bullseye-pro']" -->
                <a href="javascript:" (click)="bullseyePro()"><img
                    [src]="bproIcon" />{{ 'BullseyePro' | translate }}</a>
              </h3>
            </li>          
            <li>
            <h3>
              <a href="javascript:" (click)="deltAccount(delAccount)"><img [src]="DelAccount" />{{ 'DeleteAccount' | translate }}</a>
            </h3>
            </li>
          </ul>
        </div>      
      </div>
    </div>
    <div class="col-lg-6">
      <!-- <div class="advr_big">
        <img src="assets/images/advr_b.png" class="img-fluid" />
      </div> -->
        <div class="feedback">
          <h2>{{ 'FeedbackHelp' | translate }}</h2>
          <ul>
            <li>
              <h3>
                <a href="javascript:" [routerLink]="['/enquiry']"><img [src]="enqIcon" />{{ 'Enquiry' | translate }}</a>
              </h3>
            </li>
            <!-- <li>
        <h3>
        <a href="javascript:" (click)="openWindowCustomClass(appDemo)"><img [src]="appDemoIcon" />{{ 'AppQuickStart' | translate }}</a>
        </h3>
        </li> -->
            <li>
              <h3>
                <a href="javascript:" (click)="openShare(share)"><img
                    [src]="recFrnd" />{{ 'RecommendtoaFriend' | translate }}</a>
              </h3>
            </li>
            <li>
              <h3>
                <a href="javascript:" [routerLink]="['/terms-of-service']"><img
                    [src]="termsIcon" />{{ 'TermsofService' | translate }}</a>
              </h3>
            </li>
            <li>
              <h3>
                <a href="javascript:" [routerLink]="['/privacy-policy']"><img
                    [src]="termsIcon" />{{ 'PrivacyPolicy' | translate }}</a>
              </h3>
            </li>
            <li>
              <h3>
                <a href="javascript:" (click)="logout()"><img [src]="logoutIcon" />{{ 'Logout' | translate }}</a>
              </h3>
            </li>
          </ul>
        </div>
    </div>
  </div>

  <!-- modal to change phone number -->
  <div class="card-body">
    <ng-template #confirmicontent let-c="close" let-d="dismiss">
      <div class="modal-body">
        <p>{{modelText|translate}}</p>
      </div>
      <div class="modal-footer" *ngIf="autRenewalInd==0 || autRenewalInd==1">
        <div class="actions_to_pop">
            <button class="btn custom-btn" (click)="resetAutoRenewal();"><i class="fa fa-times-circle tick-cross-icon text-danger" aria-hidden="true"></i></button>
            <button class="btn custom-btn" (click)="changeAutoRenewal()"><i class="fa fa-check-circle tick-cross-icon text-success" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="modal-footer" *ngIf="autRenewalInd==2">
        <div class="actions_to_pop">
            <button class="btn custom-btn" (click)="d('Close click')"><i class="fa fa-times-circle tick-cross-icon text-danger" aria-hidden="true"></i></button>
            <button class="btn custom-btn" (click)="cancelSubscription()"><i class="fa fa-check-circle tick-cross-icon text-success" aria-hidden="true"></i></button>
        </div>
      </div>
    </ng-template>
    <ng-template #confirmisubupgrade let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h6 class="modal-title modal-title-analytics">
            <img class="head-img" src="assets/images/BullsEye-Pro-png">
            {{ 'ManageSubscription' | translate }}
        </h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'Areyousureyouwanttochangeyoursubscriptionplan' | translate}}</p>
      </div>
      <div class="modal-footer">
        <div class="actions_to_pop">
            <button class="btn custom-btn" (click)="c('Close click')"><i class="fa fa-times-circle tick-cross-icon text-danger" aria-hidden="true"></i></button>
            <button class="btn custom-btn" (click)="gotoUpgradeUrl()"><i class="fa fa-check-circle tick-cross-icon text-success" aria-hidden="true"></i></button>
        </div>
      </div>
    </ng-template>
    <ng-template #chgNumber let-c="close" let-d="dismiss" class="phone_changes">
      <div class="phone_changes">
        <div class="modal-header alert_header">
          <h4 class="modal-title modal-title-analytics">
              <img class="head-img" src="assets/images/Change-Phone-Number.png">
              {{ 'ChangePhoneNumber' | translate }}
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body update_number">
          <form [formGroup]="changePhoneForm">
            <div class="form-group country-code" *ngIf="phoneNumberOtp">
              <input type="text" formControlName="phone" class="form-control phone_number" placeholder="Phone Number"
                maxlength="12" ng2TelInput [ng2TelInputOptions]="{ initialCountry: 'us' }"
                (ng2TelOutput)="getNumber($event)" (intlTelInputObject)="telInputObject($event)"
                (countryChange)="onCountryChange($event)" (keypress)="numberOnly($event)"
                [ngClass]="{ 'is-invalid': submitted && p.phone.errors }" />
            </div>
            <div class="actions_to_pop" *ngIf="phoneNumberOtp">
                <button class="btn custom-btn" (click)="c('Close click')"><i class="fa fa-times-circle tick-cross-icon text-danger" aria-hidden="true"></i></button>
                <button class="btn custom-btn" [disabled]="loading"
            (click)="changePhoneNumber(1)"><i class="fa fa-check-circle tick-cross-icon text-success" aria-hidden="true"></i></button>
            </div>
            <div *ngIf="submitted && p.phone.errors" class="alert alert-dange">
              <div *ngIf="p.phone.errors.required" style="color: #ff0024">{{ 'PhoneNumberisrequired' | translate }}
              </div>
            </div>
            <div class="form-group verify" *ngIf="phoneverifiedNumber">
              <div class="signing-form verification-form">
                <h4 class="modal-title" style="text-align: center; margin-bottom: 15px">
                  {{ 'EnterVerificationCode' | translate }}</h4>
                <div class="form-group">
                  <span><input type="text" class="form-control" id="start" (keypress)="numberOnly($event)" maxlength="1"
                      size="1" (keyup)="next($event)" formControlName="otp1" /></span>
                  <span><input type="text" class="form-control" (keypress)="numberOnly($event)" maxlength="1" size="1"
                      (keyup)="next($event)" formControlName="otp2" /></span>
                  <span><input type="text" class="form-control" (keypress)="numberOnly($event)" maxlength="1" size="1"
                      (keyup)="next($event)" formControlName="otp3" /></span>
                  <span><input type="text" class="form-control" id="end" (keypress)="numberOnly($event)" maxlength="1"
                      size="1" (keyup)="next($event)" formControlName="otp4" /></span>
                  <div *ngIf="misMatch">{{ 'PleaseFillVerificationCode' | translate }}</div>
                </div>
                <button type="button" class="btn btn-primary" [disabled]="loading"
                  (click)="changePhoneNumber(2)">{{ showBtnText }}</button>
                <p>
                  {{ 'DidnotreceivetheCode' | translate }}
                  <button type="button" class="btn btn-primary"
                    (click)="ResendOTP()">{{ 'ResendSMS' | translate }}</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-template>
    <ng-template #updateProfileImage let-c="close" let-d="dismiss" class="update_profile">
      <div class="update_profile">
        <div class="modal-header alert_header">
          <h4 class="modal-title modal-title-analytics">
              <img class="head-img" src="assets/images/profile_img.png">
              {{ 'UploadProfileImage' | translate }}
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body update_profile_image">
          <form>
            <div class="upld_imge">
              <div class="choose_input">
              <label for="files" class="btn">{{UploadFile | translate }}</label>
              <input id="files" style="visibility:hidden;" type="file" (change)="fileEvent($event)" accept="image/png, image/jpeg, image/jpg">
              </div>
              <div class="update_img">
                <div class="actions_to_pop">
                    <button class="btn custom-btn" (click)="c('Close click')"><i class="fa fa-times-circle tick-cross-icon text-danger" aria-hidden="true"></i></button>
                    <button class="btn custom-btn" (click)="uploadImg($event)"><i class="fa fa-check-circle tick-cross-icon text-success" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>          
            <div class="uploaded_img">
              <img [src]="fileUrl" onError="this.src='assets/images/placeholder1.png';" alt="">
            </div>
          </form>
        </div>
      </div>
    </ng-template>
    <ng-template #delAccount let-d="dismiss" class="update_profile">
      <div class="modal-header alert_header">
        <h6 class="modal-title modal-title-analytics">
            <img class="head-img" src="assets/images/delete_icon.png">
            {{ Areyousureyouwanttodeleteaccount | translate }}
        </h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <div class="actions_to_pop">
            <button class="btn custom-btn" (click)="d('Close click')"><i class="fa fa-times-circle tick-cross-icon text-danger" aria-hidden="true"></i></button>
            <button class="btn custom-btn" type="submit"><i class="fa fa-check-circle tick-cross-icon text-success" aria-hidden="true"></i></button>
        </div>
      </div>
    </ng-template>
    <!-- reco friend -->
    <ng-template #share let-modal>
      <div class="modal-header alert_header">
        <h4 class="modal-title modal-title-analytics">
            <img class="head-img" src="assets/images/recommend-friend.png">
            {{ 'ShareBullseye' | translate }}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline form_price recommend" [formGroup]="inviteEmailForm">
          <div class="form-group">
            <label for="usr">{{ 'FriendsEmailId' | translate }}</label>
            <div class="emails_share">
              <input type="text" class="form-control" formControlName="email" id="email" autocomplete="off"
                placeholder="{{ 'FriendsEmailId' | translate }}" />
              <button mat-button (click)="invitteFriend()">{{ inviteBtnText | translate }}</button>
            </div>
            <div *ngIf="submitted && p.phone.errors" class="alert alert-dange">
              <div *ngIf="p.phone.errors.required" style="color: #ff0024">{{ 'Emailisrequired' | translate }}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="usr">{{ 'ViaSocialMedia' | translate }}</label>
            <ul>
              <li>
                <a href="https://www.facebook.com/sharer.php?u=http://52.14.191.189:4200/signup" target="_blank"><i
                    class="fa fa-facebook-square" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/intent/tweet?url=http://52.14.191.189:4200/signup" target="_blank"><i
                    class="fa fa-twitter-square" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </ng-template>


    <!-- app demo -->
    <ng-template #appDemo let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ 'Email' | translate }}App Demo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="slider_div">
          <ngb-carousel class="carousel slide carousel-fade">
            <ng-template ngbSlide>
              <img src="../../assets/images/Demo1.jpg" alt="" class="img-fluid">
            </ng-template>
            <ng-template ngbSlide>
              <img src="../../assets/images/Demo2.jpg" alt="" class="img-fluid">
            </ng-template>
            <ng-template ngbSlide>
              <img src="../../assets/images/Demo3.jpg" alt="" class="img-fluid">
            </ng-template>
            <ng-template ngbSlide>
              <img src="../../assets/images/Demo4.jpg" alt="" class="img-fluid">
            </ng-template>
            <ng-template ngbSlide>
              <img src="../../assets/images/Demo5.jpg" alt="" class="img-fluid">
            </ng-template>
            <ng-template ngbSlide>
              <img src="../../assets/images/Demo6.jpg" alt="" class="img-fluid">
            </ng-template>
            <ng-template ngbSlide>
              <a href="javascript:" [routerLink]="['/portfolio']" (click)="modal.dismiss('Cross click')">
                <img src="../../assets/images/Demo7.jpg" alt="" class="img-fluid">
              </a>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </ng-template>
  </div>
</div>