<div class="top-title enquiry">
  <div class="row">
    <div class="col-md-12">
      <h2>BullsEye Pro</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-7">
      <div class="benefits">
        <h3>Take your portfolio management to the next level with BullsEye Pro</h3>
        <ul>
          <li><span><img src="../../../assets/images/1.png" width="33px"></span><h4><strong>Unlimited stock and cryptocurrency portfolios</strong></h4></li>
          <li><span><img src="../../../assets/images/2.png" width="33px"></span><h4><strong>Personalised analytics -</strong>set personalised performance metrics based on your own research</h4></li>
          <li><span><img src="../../../assets/images/3.png" width="33px"></span><h4><strong>Comparative analysis -</strong> track investment performance against established market benchmarks</h4></li>
          <li><span><img src="../../../assets/images/4.png" width="33px"></span><h4><strong>Technical analysis -</strong>study the charts using technical indicators such as candlestick formations</h4></li>
          <li><span><img src="../../../assets/images/5.png" width="33px"></span><h4><strong>Real-time market price alerts -</strong>keep pace with market movements by setting alerts directly to your device</h4></li>
          <li><span><img src="../../../assets/images/6.png" width="33px"></span><h4><strong>News -</strong>filter the latest articles form across reputable global stock and cryptocurrency market sources</h4></li>
          <li><span><img src="../../../assets/images/7.png" width="33px"></span><h4><strong>Chat -</strong>have your say and share research with other members of the BullsEye Community</h4></li>
          <li><span><img src="../../../assets/images/8.png" width="33px"></span><h4><strong>Advert free -</strong>remove all in-app adverts to optimise your BullsEye experience</h4></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-5">
      <div class="subscript">
        <h3>Choose your subscription plan</h3>
        <div class="main-checkbox">
          <input class="main-checkbox checkbox-custom" type="checkbox" id="one_month" name="one_month" />
          <label for="one_month" class="checkbox-custom-label"><h4>1 month for <span>&#8377;89</span></h4></label>
        </div>
        <div class="main-checkbox">
          <input class="main-checkbox checkbox-custom" type="checkbox" id="three_month" name="three_month" />
          <label for="three_month" class="checkbox-custom-label"><h4>3 months for <span>&#8377;219</span></h4></label>
        </div>
        <div class="main-checkbox"><div class="best_v">Best Value</div>
          <input class="main-checkbox checkbox-custom" type="checkbox" id="twelve_month" name="twelve_month" />
          <label for="twelve_month" class="checkbox-custom-label"><h4>12 months for <span>&#8377;669</span></h4></label>
        </div>
      </div>
      <div class="app_purch">
        <a href="" >Terms of the in-app purchase</a>
      </div>
    </div>
  </div>
</div>
